/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * canada-type-gibson:
 *   - http://typekit.com/eulas/00000000000000003b9b0ba9
 *   - http://typekit.com/eulas/00000000000000003b9b0baa
 *   - http://typekit.com/eulas/00000000000000003b9b0ba6
 *   - http://typekit.com/eulas/00000000000000003b9b0ba5
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-08-14 14:59:06 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=shv1lhh&ht=tk&f=24349.24350.24351.24354&a=15180799&app=typekit&e=css");

@font-face {
  font-family: "canada-type-gibson";
  src: url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "canada-type-gibson";
  src: url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1c09d6/00000000000000003b9b0baa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "canada-type-gibson";
  src: url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8b8b4f/00000000000000003b9b0ba6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "canada-type-gibson";
  src: url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

.tk-canada-type-gibson {
  font-family: "canada-type-gibson", sans-serif;
}

/*
     FILE ARCHIVED ON 17:31:47 Apr 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:20:27 Apr 26, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.017
  CDXLines.iter: 12.939 (3)
  exclusion.robots: 0.136
  exclusion.robots.policy: 0.126
  LoadShardBlock: 127.381 (3)
  RedisCDXSource: 0.789
  captures_list: 144.515
  PetaboxLoader3.datanode: 49.078 (4)
  PetaboxLoader3.resolve: 68.979 (2)
  load_resource: 56.229
*/
